.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodTypeSelector{
    margin: 10px;
    padding: 10px 5px;
    width: 150px;
    color: #FF6E40; 
    border-radius: 10px;
    border: 0px; 
}

.imageContainer { 
    display: flex; 
    margin: 10px;
}